@CHARSET "UTF-8";
#tattes-audience {
	position:relative;
}

#tattes-audience-bouquetchat {
	border:3px black solid;
	font-size:80%;
	width:600px;
	height:600px;
	display:inline-block;
}

.tattes-audience-input-name {
	position: absolute;
	top:4px;
	right:8px;
	margin-top:0px;
	margin-bottom:0px;
}

#tattes-audience-bouquetchat .tattes-chat-commonchat-input-text-0 {
	background-color: #555500;
	color:white;
}

#tattes-audience-bouquetconsole {
	border:3px black solid;
	font-size:80%;
	width:300px;
	height:600px;
	position:absolute;
	top:28px;
	left:600px;
	display:inline-block;
}

#tattes-audience-bouquetconsole-shortcuts > button {
	display:block;
	text-align:left;
	width:100%;
	padding:4px;
}

#tattes-audience-bouquetconsole-bouquetCount-counter,
#tattes-audience-bouquetconsole-bouquetCount-counter-total {
	font-size:200%;
	width:60px;
	left:8px;
	position:relative;
}

#tattes-audience-bouquetconsole-clearing {
	height:32px;
	position:relative;
	left:6px;
	top:-5px;
}