@CHARSET "UTF-8";

.tattes-character-status {
	border:3px black solid;
	font-size:80%;
	width:280px;
	height:600px;
	box-sizing: border-box;
	position:relative;
	display:inline-block;
}

.tattes-character-status-image {
	width: 137px;
	height:137px;
	border:1px solid black;
	background-size:cover;
}

.tattes-character-status-baseinfo {
	position:absolute;
	top:0px;
	left:137px;
	width: 137px;
	height:137px;
	border:1px solid black;
	overflow:scroll;
}

.tattes-character-status-baseinfo > span {
	padding: 4px;
}

.tattes-character-status-type,
.tattes-character-status-character {
	display:block; 
}

.tattes-character-status-note {
	overflow:scroll;
	padding:8px;
	height:444px;
	line-height:1.5em;
}