@CHARSET "UTF-8";

.tattes-chat-commonchat {
	border:3px black solid;
	font-size:80%;
	width:600px;
	height:600px;
	position:absolute;
	top:28px;
	left:280px;
	display:inline-block;
}

.tattes-chat-commonchat-input {
	height:120px;
	width:100%;
	position:relative;
}

.tattes-chat-commonchat-input-channel {
	top:4px;
	left:7px;
	position:relative;
}

.tattes-chat-commonchat-input-text {
	resize:none;
	height:76px;
	width:580px;
	margin:auto;
	position:relative;
	top:8px;
	left:7px;
}

.tattes-chat-commonchat-input-text-0 {
	background-color:white;
}

.tattes-chat-commonchat-input-text-1 {
	background-color:#eeffee;
}

.tattes-chat-commonchat-input-text-2 {
	background-color:#f0f0f0;
}

.tattes-chat-commonchat-input-explanation {
	font-size:60%;
	text-align:right;
	margin-top:8px;
	margin-bottom:0px;
}

.tattes-chat-commonchat-logs {
	height:474px;
	overflow:scroll;
}

.tattes-chat-commonchat-logs-post {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
}

.tattes-chat-commonchat-logs-post:hover {
	border:1px black solid;
}

.tattes-chat-commonchat-logs-post-0:nth-child(even){
	background-color:#fef4f4;
}

.tattes-chat-commonchat-logs-post-1 {
	background-color:#ccffcc;
}

.tattes-chat-commonchat-logs-post-2 {
	background-color:#e0e0e0;
}

.tattes-chat-commonchat-logs-post-1,
.tattes-chat-commonchat-logs-post-2 {
	font-size:80%;
	padding-left:12px;
}

.tattes-chat-commonchat-logs-post-info {
	display:block;
	font-weight: bold;
}
.tattes-chat-commonchat-logs-post-message {
	display:block;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:8px;
}
